<!DOCTYPE html>
<html>
<head>
	<title>Online Mobile Shopping</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid" style="width: 90%;">
        <div class="row" style="margin: 3%;">
            <div class="card text-black bg-light mb-3 w-100">                    
                <div class="card-body row">
                    <div class="col-2">
                        <img style="border-radius: 5px;height: 250px;width: 150px;" src="../Assets/images/images1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-6" style="padding: 0%;">
                        <h5 class="card-title">SAMSUNG Galaxy F22 </h5>
                        <p class="card-text">(Denim Black, 64 GB)  (4 GB RAM)</p>
                        <ul>
                            <li>4 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
                            <li>16.59 cm (6.53 inch) HD+ Display</li>
                            <li>13MP + 2MP + 2MP | 5MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Mediatek Helio G35 Processor</li>
                            <li>1 Year on Handset and 6 Months on Accessories</li>
                        </ul>
                    </div>
                    <div style="margin-top: 6%;">
                        <h4>₹8,999</h4>
                        <a href="cancelmessage.html"><button class="btn btn-danger">Cancel Order</button></a>

                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin: 3%;">
            <div class="card text-black bg-light mb-3 w-100">                    
                <div class="card-body row">
                    <div class="col-2">
                        <img style="border-radius: 5px;height: 250px;width: 150px;" src="../Assets/images/images1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-6" style="padding: 0%;">
                        <h5 class="card-title">SAMSUNG Galaxy F22 </h5>
                        <p class="card-text">(Denim Black, 64 GB)  (4 GB RAM)</p>
                        <ul>
                            <li>4 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
                            <li>16.59 cm (6.53 inch) HD+ Display</li>
                            <li>13MP + 2MP + 2MP | 5MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Mediatek Helio G35 Processor</li>
                            <li>1 Year on Handset and 6 Months on Accessories</li>
                        </ul>
                    </div>
                    <div style="margin-top: 6%;">
                        <h4>₹8,999</h4>
                        <button class="btn btn-danger">Cancel Order</button>

                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin: 3%;">
            <div class="card text-black bg-light mb-3 w-100">                    
                <div class="card-body row">
                    <div class="col-2">
                        <img style="border-radius: 5px;height: 250px;width: 150px;" src="../Assets/images/images1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-6" style="padding: 0%;">
                        <h5 class="card-title">SAMSUNG Galaxy F22 </h5>
                        <p class="card-text">(Denim Black, 64 GB)  (4 GB RAM)</p>
                        <ul>
                            <li>4 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
                            <li>16.59 cm (6.53 inch) HD+ Display</li>
                            <li>13MP + 2MP + 2MP | 5MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Mediatek Helio G35 Processor</li>
                            <li>1 Year on Handset and 6 Months on Accessories</li>
                        </ul>
                    </div>
                    <div style="margin-top: 6%;">
                        <h4>₹8,999</h4>
                        <button class="btn btn-danger">Cancel Order</button>

                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin: 3%;">
            <div class="card text-black bg-light mb-3 w-100">                    
                <div class="card-body row">
                    <div class="col-2">
                        <img style="border-radius: 5px;height: 250px;width: 150px;" src="../Assets/images/images1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-6" style="padding: 0%;">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul>
                            <li>4 GB RAM | 64 GB ROM | Expandable Upto 512 GB</li>
                            <li>16.59 cm (6.53 inch) HD+ Display</li>
                            <li>13MP + 2MP + 2MP | 5MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Mediatek Helio G35 Processor</li>
                            <li>1 Year on Handset and 6 Months on Accessories</li>
                        </ul>
                    </div>
                    <div style="margin-top: 6%;">
                        <h4>₹8,999</h4>
                        <button class="btn btn-danger">Cancel Order</button>

                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>