<!DOCTYPE html>
<html>
<head>
	<title>Online Mobile Shopping</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid" style="width: 90%;">
        <div class="row" style="margin: 4%;">
            <div class="col-4">
                <img style="border-radius: 20px;" src="../Assets/images/images1.jpg" alt="Card image cap">
            </div>
            <div class="col-4" style="margin-top: 3%;">
                <h5 class="card-title font-weight-bold" style="width:100%;margin: 0%;">Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB Storage) </h5>
                <p class="card-text" style="margin: 0%;">6 Months Free Screen Replacement for Prime</p>
                <p style="margin: 0%;"><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                <p>Deal Price : 10000</p>
                <p>You save : 1000</p>
                <p>Fast Delhivery By Tommarow</p>
                <p>EMI Available</p>
                <table>
                    <tr><td><b>Model Name</b></td><td>Galaxy M12</td></tr>	
                    <tr><td><b>Wireless Carrier</b></td><td>Unlocked for All Carriers</td></tr>	
                    <tr><td><b>Brand</b></td><td>Samsung</td></tr>	
                    <tr><td><b>Form factor</b></td><td>Brand</td></tr>
                    <tr><td><b>Memory Storage Capacity</b></td><td>64 GB</td></tr>	
                </table>
                <div>
                    <button class="btn btn-warning">Add To Cart</button>
                    <button class="btn btn-warning">Buy Now</button>
                </div>
            </div>
            <div class="col-4">
                
                    <p class="font-weight-bold">About this item</p>
                    <div class="d-flex justify-content-center">
                        <ul>
                            <li>48MP+5MP+2MP+2MP Quad camera setup- True 48MP (F 2.0) main camera + 5MP (F2.2) Ultra wide camera+ 2MP (F2.4) depth camera + 2MP (2.4) Macro Camera| 8MP (F2.2) front came</li>
                            <li>6000mAH lithium-ion battery, 1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</li>
                            <li>Android 11, v11.0 operating system,One UI 3.1, with 8nm Power Efficient Exynos850 (Octa Core 2.0GH</li>
                            <li>16.55 centimeters (6.5-inch) HD+ TFT LCD - infinity v-cut display,90Hz screen refresh rate, HD+ resolution with 720 x 1600 pixels resolution, 269 PPI with 16M color</li>
                            <li>Memory, Storage & SIM: 4GB RAM | 64GB internal memory expandable up to 1TB| Dual SIM (nano+nano) dual-standby (4G+4</li>
                        </ul>
                    </div>
            </div>
        </div>
        <div>
            <b><hr></b>
        </div>
        <div  class="row" style="margin-left: auto; margin-right: auto; width: 100%;">
            <div class="card m-3" style="width: 18rem;border-radius: 20px;">
				<img class="card-img-top" style="border-radius: 20px;" src="../Assets/images/images1.jpg" alt="Card image cap">
				<div class="card-body" >
				  <h5 class="card-title" style="width:100%;margin: 0%;">Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB Storage) </h5>
				  <p class="card-text" style="margin: 0%;">6 Months Free Screen Replacement for Prime</p>
				  <p style="margin: 0%;"><i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>

              <div class="card m-3" style="width: 18rem;border-radius: 20px;">
				<img class="card-img-top" style="border-radius: 20px;" src="../Assets/images/images1.jpg" alt="Card image cap">
				<div class="card-body" >
				  <h5 class="card-title" style="width:100%;margin: 0%;">Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB Storage) </h5>
				  <p class="card-text" style="margin: 0%;">6 Months Free Screen Replacement for Prime</p>
				  <p style="margin: 0%;"><i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>

              <div class="card m-3" style="width: 18rem;border-radius: 20px;">
				<img class="card-img-top" style="border-radius: 20px;" src="../Assets/images/images1.jpg" alt="Card image cap">
				<div class="card-body" >
				  <h5 class="card-title" style="width:100%;margin: 0%;">Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB Storage) </h5>
				  <p class="card-text" style="margin: 0%;">6 Months Free Screen Replacement for Prime</p>
				  <p style="margin: 0%;"><i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>

              <div class="card m-3" style="width: 18rem;border-radius: 20px;">
				<img class="card-img-top" style="border-radius: 20px;" src="../Assets/images/images1.jpg" alt="Card image cap">
				<div class="card-body" >
				  <h5 class="card-title" style="width:100%;margin: 0%;">Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB Storage) </h5>
				  <p class="card-text" style="margin: 0%;">6 Months Free Screen Replacement for Prime</p>
				  <p style="margin: 0%;"><i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>
        </div>
	
	</div>
</body>
</html>